@using UniCampaignE.Web.Localization
@{
    Layout = "~/Views/Shared/_UniCampaignLayout.cshtml";
}
@section page_content{
    <link href="~/Content/c3.min.css" rel="stylesheet" />
    <div class="content-heading">
        Campaign Management (SMS)
        <div class="pull-right">
            <div class="btn-group">
                <a class="btn btn-primary bg-primary-dark text-bold" data-ajax="true" data-ajax-loading="#loader" data-ajax-method="GET" data-ajax-mode="replace" data-ajax-success="showModalEditor" data-ajax-failure="globalAjaxErrorHandler" data-ajax-update="#modal_editor" href="@Url.RouteUrl(new {area="",controller="SMSCampaign",action="Add" })">
                    <span>Add</span>&nbsp;&nbsp;<i class="fa fa-plus"></i>
                </a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-flat panel-primary">
                <div class="panel-heading">
                    <div class="panel-title">
                        Campaigns (SMS)
                    </div>
                </div>
                <div class="panel-body">
                    <div class="table-responsive p0">
                        <table id="grid" class="table table-striped table-bordered table-condensed" data-source="@Url.Action(nameof(UniCampaignE.Web.Controllers.SMSCampaignController.ListCampaigns))"></table>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
@section page_scripts{
    <script src="~/Scripts/d3.min.js"></script>
    <script src="~/Scripts/c3.min.js"></script>
    <script type="text/javascript">
        function dateRenderer(value) {

            var val = moment(value);
            if (val.isValid()) {
                return val.format("YYYY-MM-DD");
            } else {
                return '';
            }

        }
        function timeRenderer(value) {
            var dur = moment.duration(value);
            var val = moment('00', 'HH');
            val.add(dur.asSeconds(), 'seconds');
            if (val.isValid()) {
                return val.format('HH:mm');
            } else {
                return '';
            }
        }

        $(document).ready(function (e) {
            grid = $("#grid").grid({
                primaryKey: "Id",
                uiLibrary: "bootstrap",
                iconsLibrary: 'fontawesome',
                notFoundText: "@GridComman.GRID_NO_RECORD_FOUND",
                columns: [
                    { field: "Name", title: "Name" },
                    { field: "Gateway", title: "Gateway", renderer: function (value) { return value.Name; } },
                    {
                        field: 'Enabled', title: 'Enabled', width: 80,
                        renderer: function (value, record, $cell, $displayEl,id) {
                            var displayVal = value ? 'Yes' : 'No';
                            $displayEl.html('<a href="javascript:void(0);" class="change-state" title="@Campaign.LABEL_DOUBLE_CLICK_TO_CHANGE" data-current="' + id + '">' + displayVal + '</a>');
                        }
                    },
                    { field: "StartTime", title: "Start Time", renderer: timeRenderer, width: 85 },
                    { field: "EndTime", title: "End Time", renderer: timeRenderer, width: 85 },
                    { field: 'MaximumBatchSize', title: 'Batch Size', width: 85 },
                    { field: 'StartDate', title: 'StartDate', renderer: dateRenderer, width: 100 },
                    { field: 'EndDate', title: 'EndDate', renderer: dateRenderer, width: 100 },
                    {
                        title: 'Contact List',
                        tmpl: '<a data-ajax="true" data-ajax-loading="#loader" data-ajax-method="GET" data-ajax-failure="globalAjaxErrorHandler" ' +
                               'data-ajax-mode="replace" data-ajax-success="showModalEditor" data-ajax-update="#modal_editor" ' +
                               'href="@Url.RouteUrl(new { area="",controller= "SMSCampaign", action=nameof(UniCampaignE.Web.Controllers.SMSCampaignController.AssignContactList),campaignId = UrlParameter.Optional}){Id}">' +
                               '<small>@GridComman.GRID_ASSIGN</small></a>' +
                               '<a class="ml-lg" data-ajax="true" data-ajax-loading="#loader" data-ajax-method="GET" data-ajax-failure="globalAjaxErrorHandler" data-ajax-mode="replace" data-ajax-success="showModalEditor" data-ajax-update="#modal_editor" href="@Url.RouteUrl(new { area="",controller="SMSCampaign",action=nameof(UniCampaignE.Web.Controllers.SMSCampaignController.AssignedLists),campaignId = UrlParameter.Optional})/{Id}"><small>@GridComman.GRID_VIEW</small></a>',
                        width: 100
                    },
                    { title: "", minWidth: 10, priority: 2, field: "Edit", width: 34, tmpl: '<a data-ajax="true" data-ajax-loading="#loader" data-ajax-method="GET" data-ajax-mode="replace" data-ajax-success="showModalEditor" data-ajax-failure="globalAjaxErrorHandler" data-ajax-update="#modal_editor" href="@Url.RouteUrl(new { area="",controller="SMSCampaign",action=nameof(UniCampaignE.Web.Controllers.SMSCampaignController.Edit),id = UrlParameter.Optional}){Id}"><span class="fa fa-edit"></span></a>', tooltip: "@GridComman.GRID_EDIT" },
                    { title: "", minWidth: 10, priority: 3, field: "Delete", width: 34, tmpl: '<a data-ajax="true" data-ajax-loading="#loader" data-ajax-confirm="@ContactList.DELETE_BUTTON_ALERT" data-ajax-success="globalAjaxSuccessHandler" data-ajax-failure="globalAjaxErrorHandler" data-ajax-method="DELETE" href="@Url.RouteUrl(new { area="",controller= "SMSCampaign", action=nameof(UniCampaignE.Web.Controllers.SMSCampaignController.Delete),id = UrlParameter.Optional})/{Id}?campaign={Name}"><span class="fa fa-trash-o"></span></a>', tooltip: "@GridComman.GRID_DELETE" }
                ],
                pager: { enable: true, limit: 8, sizes: [8, 15, 25] }
            });
            $('#grid').on('dblclick', '.change-state', function (e) {
                debugger
                var id = $(this).attr('data-current');
                changeState([id]);
            });

            function changeState(campId) {
                debugger;
            $.ajax({
                url: '@Url.Action(nameof(UniCampaignE.Web.Controllers.SMSCampaignController.ChangeState))',
                type: "POST",
                data: { SmsCampaignId: campId },
                success: globalAjaxSuccessHandler,
                error: globalAjaxErrorHandler
            });
        }
        });


    </script>
}
