@using UniCampaignE.Web.Localization
@{
    Layout = "~/Views/Shared/_UniCampaignLayout.cshtml";
}
@section page_content{
    <div class="content-heading">
        @AuditTrail.AUDIT_TRAIL_TITLE
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-flat panel-primary">
                <div class="panel-heading">
                    <div class="panel-title">
                        @AuditTrail.AUDIT_TRAIL_TITLE
                    </div>
                </div>
                <div class="panel-body">
                    <div class="form-inline mb-lg pull-right">
                        <div id="startTimePicker" class="input-group date">
                            <input type="text" id="start_date" placeholder="@AuditTrail.AUDIT_START_DATE_PLACEHOLDER" class="form-control" />
                            <span class="input-group-addon">
                                <span class="fa fa-calendar"></span>
                            </span>
                        </div>
                        <div id="endTimePicker" class="input-group date">
                            <input type="text" id="end_date" placeholder="@AuditTrail.AUDIT_END_DATE_PLACEHOLDER" class="form-control" />
                            <span class="input-group-addon">
                                <span class="fa fa-calendar"></span>
                            </span>
                        </div>
                        <div class="form-group">
                            <button class="btn btn-primary" id="btn_filter">@AuditTrail.FILTER_BUTTON_TEXT</button>
                            <button class="btn btn-default" id="btn_reset">@AuditTrail.RESET_BUTTON_TEXT</button>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="table-responsive">
                        <table id="grid" class="table table-striped table-bordered table-condensed" data-source="@Url.RouteUrl(new {area = "", controller = "AuditTrail", action = "GetAuditTrail" })"></table>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
@section page_scripts {
    <script type="text/javascript">
        $('#btn_filter').on('click', function (e) {
            if ($('#start_date').val() == '') {
                //$('#start_date').addErrorTooltip('REQUIRED_FIELD', 'bottom');
                return;
            }
            if ($('#end_date').val() == '') {
                //$('#end_date').addErrorTooltip('REQUIRED_FIELD', 'bottom');
                return;
            }

            if (!moment($('#start_date').val()).isBefore(moment($('#end_date').val()))) {
                //$('#start_date').addErrorTooltip('should be less than end date', 'bottom');
                return;
            }
            //if ($('#startTimePicker').hasClass('has-error') || $('#endTimePicker').hasClass('has-error'))
            //{
            //    return;
            //}
            grid.reload({
                startDate: $('#start_date').val(),
                endDate: $('#end_date').val()
            });
        });
        $('#btn_reset').on('click', function (e) {
            $('#start_date').val('');
            $('#end_date').val('');
            //$('#start_date').removeErrorTooltip();
            //$('#end_date').removeErrorTooltip();
            grid.reload({
                startDate: $('#start_date').val(),
                endDate: $('#end_date').val()
            });
        });
        $(document).ready(function () {
            grid = $("#grid").grid({
                uiLibrary: "bootstrap",
                iconsLibrary: 'fontawesome',
                dataKey: "Action",
                notFoundText: "@GridComman.GRID_NO_RECORD_FOUND",
                uiLibrary: "bootstrap",
                columns: [
                    { field: "Action", title: "@AuditTrail.GRID_ACTION_TITLE" },
                    { field: "Description", title: "@GridComman.GRID_DESCRIPTION" },
                    { field: "Username", title: 'User' },
                    { field: 'DealerName', title: '@Comman.GROUP_TITLE' },
                    { field: "DateTime", title: '@GridComman.GRID_DATETIME_FORMAT', sortable: true }
                ],
                pager: { enable: true, limit: 10, sizes: [2, 5, 10, 20, 50] }
            });
        });
        var pickerSettings =
            {
                icons: {
                    time: "fa fa-clock-o",
                    date: "fa fa-calendar",
                    up: "fa fa-chevron-up",
                    down: "fa fa-chevron-down",
                    clear: 'fa fa-trash',
                    close: 'fa fa-times'
                },
                sideBySide: true,
                format: 'YYYY-MM-DD HH:mm',
                showClear: true,
                showClose: true,
                useCurrent: true,
                keepInvalid: false,
                useStrict: true,
                toolbarPlacement: 'bottom',
                widgetPositioning: {
                    horizontal: 'auto',
                    vertical: 'bottom'
                }
            };
        $('#startTimePicker').datetimepicker(pickerSettings).on('dp.error', function (e) {
            //$('#start_date').addErrorTooltip("Invalid date or time", 'bottom');
        }).on('dp.change', function (e) {
            //$('#start_date').removeErrorTooltip();
            //$('#end_date').removeErrorTooltip();
        });
        $('#endTimePicker').datetimepicker(pickerSettings).on('dp.error', function (e) {
            //$('#end_date').addErrorTooltip("Invalid date or time", 'bottom');
        }).on('dp.change', function (e) {
            //$('#end_date').removeErrorTooltip();
            //$('#start_date').removeErrorTooltip();
        });

    </script>
}