@using UniCampaignE.Web.Localization
@model UniCampaignE.Web.Models.ChangePasswordViewModel

<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header bg-primary-dark">
            <strong>@ChangePassword.CHANGE_PASSWORD_TITLE</strong>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>

        @using (Ajax.BeginForm(new AjaxOptions() { Url = Url.RouteUrl(new { area = "", controller = "Account", action = "ChangePasswordP" }), HttpMethod = "POST", LoadingElementId = "loader", UpdateTargetId = "modal_editor", InsertionMode = InsertionMode.Replace }))
            {
            <div class="modal-body">
                <div class="form-horizontal">
                    <div class="form-group"> 
                        <label class="control-label col-xs-4">@ChangePassword.CURRENT_PASSWORD<span class="text-danger">*</span></label>
                        <div class="col-xs-8 col-lg-7">
                            @Html.PasswordFor(chg=>chg.CurrentPassword, new { @class = "form-control", placeholder = ChangePassword.CURRENT_PASSWORD_PLACEHOLDER })
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-xs-4">@ChangePassword.NEW_PASSWORD <span class="text-danger">*</span></label>
                        <div class="col-xs-8 col-lg-7">
                            @Html.PasswordFor(chg=>chg.NewPassword, new { @class = "form-control", placeholder = ChangePassword.NEW_PASSWORD_PLACEHOLDER })
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-xs-4">@ChangePassword.CONFIRM_NEW_PASSWORD<span class="text-danger">*</span></label>
                        <div class="col-xs-8 col-lg-7">
                            @Html.PasswordFor(chg=>chg.ConfirmPassword, new { @class = "form-control", placeholder = ChangePassword.CONFIRM_NEW_PASSWORD_PLACEHOLDER})
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>

                <div class="error">
                    @Html.ValidationSummary()
                </div>
                <div class="text-success">
                    <ul>
                        @Html.Raw(ViewBag.Feedback)
                    </ul>
                </div>
            </div>
            <div class="modal-footer">
                <input type="submit" class="btn btn-primary" value="@ChangePassword.CHANGE_PASSWORD_BUTTON"/>
                <button type="button" class="btn btn-default" data-dismiss="modal">@Comman.CANCEL_BUTTON_TEXT</button>
            </div>
        }
    </div>
</div>
