@model UniCampaignE.Core.Models.UserMaster
@using UniCampaignE.Web.Localization
@using UniCampaignE.Web.HelperLib
    <div class="modal-dialog">
        @{
            string action = ViewBag.Action;
        }

        @using (Ajax.BeginForm(action, new { area = "admin", controller = "UserMaster" }, new AjaxOptions() { HttpMethod = "POST", LoadingElementId = "loader", OnSuccess = "globalAjaxSuccessHandler", OnFailure = "globalAjaxErrorHandler" }))
        {
            <div class="modal-content">
                <div class="modal-header bg-primary-dark">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">@ViewBag.ModalTitle</h4>
                </div>
                <div class="modal-body">
                    <div class="form-horizantal" id="addUser" role="form">
                        <div class="form-group">
                            <label class="control-label col-xs-4">@Comman.GROUP_TITLE<span class="text-danger">*</span></label>
                            <div class="col-xs-8 col-lg-7">
                                @Html.DropDownList("Dealer", ViewBag.allDealers as IEnumerable<SelectListItem>, Comman.SELECT_LAVEL, new { @class = "form-control", placeholder = "Dealer", id = "dealer_select" })
                                @Html.HiddenFor(mod => mod.DealerId, new { id = "selected_dealer" })
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="form-group">
                            @Html.HiddenFor(mod => mod.Id)
                            <label class="control-label col-xs-4">@Account.USERNAME_LABEL <span class="text-danger">*</span></label>
                            <div class="col-xs-8 col-lg-7">
                                @Html.TextBoxFor(mod => mod.Name, new { Class = "form-control", placeholder = Account.USERNAME_PLACEHOLDER })
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-xs-4">@Account.PASSWORD_LABEL<span class="text-danger">*</span></label>
                            <div class="col-xs-8 col-lg-7">
                                @Html.TextBoxFor(mod => mod.Password, new { Class = "form-control", placeholder = Account.PASSWORD_PLACEHOLDER, type = "password" })
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-xs-4">@Account.ROLE_LABEL<span class="text-danger">*</span></label>
                            <div class="col-xs-8 col-lg-7">
                                @*@Html.EnumDropDownListFor(mod => mod.Role, new { @class = "form-control", placeholder = Account.ROLE_PLACEHOLDER })*@
                                @Html.DropDownList("Role", ViewBag.Roles as IEnumerable<SelectListItem>, Comman.SELECT_LAVEL, new { @class = "form-control", placeholder = "Roles", id = "role_select" })
                                @Html.HiddenFor(mod => mod.RoleMasterId, new { id = "selected_role" })
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">@Comman.CANCEL_BUTTON_TEXT</button>
                    <input type="submit" class="btn btn-primary" id="saveButton" value="@Comman.SAVE_BUTTON_TEXT" />
                </div>
            </div>
        }
    </div>
    @if (Model != null)
    { 
        <script type="text/javascript">
            debugger;
            $('#dealer_select').val(@Model.DealerId);
            $('#dealer_select').attr('disabled', 'disabled');
           $('#role_select').val(@Model.RoleMasterId);
         //   $('#role_select').attr('disabled', 'disabled');
        </script>
    }
    <script type="text/javascript">
        debugger;
        $('#dealer_select').on('change', function (e) {
            $('#selected_dealer').val($(this).val());
        });

        $('#role_select').on('change', function (e) {
            $('#selected_role').val($(this).val());
            var k = $('#selected_role').val($(this).val());

        });
        $('#dealer_select').on('change', function (e) {
            $('#selected_dealer').val($(this).val());
        });
    </script>