@using UniCampaignE.Web.Localization
@using UniCampaignE.Web.HelperLib
@using UniCampaignE.Core.Constants.API;
@model int
<div class="modal-dialog">
    @{

        string action = ViewBag.Action;
    }

    <div class="modal-content">
        <div class="modal-header bg-primary-dark">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">@ViewBag.ModalTitle</h4>
        </div>
        <div class="modal-body">
            <div class="panel panel-primary" id="grid_panel">
                <div class="panel-body">
                    <table id="AgentGrid" class="table table-striped table-bordered table-condensed" data-source="@Url.Action(nameof(UniCampaignE.Web.Areas.Admin.Controllers.SkillGroupController.ListAssignedSkills), new { area = "admin", controller = "SkillGroup", dealerId = Model })"></table>
                </div>
            </div>
        </div>
        <div class="modal-footer"></div>
    </div>

</div>
<script type="text/javascript">
    var AgentGridConfig = {};
    AgentGridConfig.tooltip = "@GridComman.GRID_DELETE";
    AgentGridConfig.notFoundText = "@GridComman.GRID_NO_RECORD_FOUND";
    AgentGridConfig.deleteUrl == '@Url.RouteUrl(new { area="admin",controller="Dealer",action=nameof(UniCampaignE.Web.Areas.Admin.Controllers.DealerController.RemoveSkill),mapId = UrlParameter.Optional})';
    var skillGrid = $('#AgentGrid').grid({
        primaryKey: "MapId",
        iconsLibrary: 'fontawesome',
        uiLibrary: "bootstrap",
        notFoundText: AgentGridConfig.notFoundText,
        pager: { enable: true, limit: 8, sizes: [8, 15, 20] },
        columns: [
               { field: "EnterpriseName", title: 'EnterpriseName' },
               { field: 'AssignedOn', title: 'AssignedOn' },
            { title: "", minWidth: 10, priority: 3, field: "Delete", width: 34, tmpl: '<a data-ajax="true" data-ajax-loading="#loader" data-ajax-confirm="Do you want to remove {EnterpriseName} from @Comman.GROUP_TITLE?" data-ajax-success="skillRemoved" data-ajax-failure="globalAjaxErrorHandler" data-ajax-method="DELETE" href="@Url.RouteUrl(new { area="admin",controller= "Dealer", action= "RemoveSkill", mapId = UrlParameter.Optional})/{MapId}"><span class="fa fa-trash-o"></span></a>', tooltip: AgentGridConfig.deleteTooltip }
        ]
    });
    function skillRemoved(res) {
        skillGrid.reload();
        reloadMainGrid();
    }
</script>