@model UniCampaignE.Core.Models.CrmContactList
@using UniCampaignE.Web.Localization
@using UniCampaignE.Web.HelperLib
    <div class="modal-dialog">
        <form id="crm_contact_list_form" method="post" action="@Url.Action(nameof(UniCampaignE.Web.Controllers.ContactListController.Save), new { controller = "ContactList", area = "" })">
            <div class="modal-content">
                <div class="modal-header bg-primary-dark">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">@ViewBag.ModalTitle</h4>
                </div>
                <div class="modal-body">
                    <div class="form-horizontal" id="step_one" role="form">
                        @Html.Partial("EditorCommon", Model)
                        <div class="form-group">
                            <label class="control-label col-xs-4">CRM Object<span class="error inline"></span></label>
                            <div class="col-xs-8 col-lg-7">
                                @Html.DropDownList("CrmObjectSelect", UniCampaignE.Web.HelperLib.DropDownHelper.GetConstants(typeof(UniCampaignE.Core.Constants.CommonCRMObjects)), "Select", new { @class = "form-control", id = "contact_list_crm_object_select" })
                                @Html.HiddenFor(mod => mod.CrmObject, new { id = "contact_list_crm_object" })
                            </div>
                        </div>
                    </div>
                    <div class="hidden p-lg" id="step_two">
                        <div class="form-group">
                            <label class="control-label col-xs-2 pl0">Sort By</label>
                            <div class="col-xs-5">
                                @Html.DropDownListFor(mod => mod.SortBy, new List<SelectListItem>(), new { @class = "form-control", id = "contact_list_sort_by", data_selected_field = Model?.SortBy })
                            </div>
                            <div class="col-xs-4">
                                @Html.DropDownListFor(mod => mod.SortDirection, DropDownHelper.GetConstants(typeof(UniCampaignE.Core.Models.OrderDirection)), new { @class = "form-control", id = "contact_list_sort_direction" })
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="form-group">
                            <label class="control-label">Filter Criteria</label>
                            @Html.Partial("EditorContactFilter", Model?.FilterCriteria ?? new UniCampaignE.Core.Models.ContactFilter() { OperatorType = UniCampaignE.Core.Models.LogicalOperator.None })
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">@Comman.CANCEL_BUTTON_TEXT</button>
                    <input type="button" class="btn btn-default hidden" id="btn_prev" value="@Comman.BUTTON_PREVIOUS" />
                    <input type="button" class="btn btn-default" id="btn_next" value="@Comman.BUTTON_NEXT" />
                    <input type="submit" class="btn btn-primary hidden" id="btn_save" value="@Comman.SAVE_BUTTON_TEXT" />
                </div>
            </div>
        </form>
    </div>

    <script type="text/javascript">
        var $form = $('#crm_contact_list_form');
        $('#contact_list_crm_object_select').select2({
            tags: true,
            width: '100%',
            theme: 'bootstrap',
            placeholder: '@ContactList.SELECT'
        }).on('change', function (e) {
            $('#contact_list_crm_object').val($(this).val());
        });
        var selectedCrmObject = $('#contact_list_crm_object').val();
        if (selectedCrmObject) {
            $('#contact_list_crm_object_select').val(selectedCrmObject).trigger('change');
        }
        $(document).off('click', '#btn_next');
        $(document).on('click', '#btn_next', function (e) {
            var $button = $(this);
            var headerUrl = '@Url.Action(nameof(UniCampaignE.Web.Controllers.ContactListController.GetHeaders), new { controller = "ContactList", area = "" })';
            var tempContactList = {
                HeadersOnly: true,
                Id: $('#contact_list_id', $form).val(),
                SourceId: $('#contact_list_source', $form).val(),
                Name: $('#contact_list_name', $form).val(),
                Purpose: $('#contact_list_purpose', $form).val(),
                CrmObject: $('#contact_list_crm_object', $form).val()
            };

            $.ajax({
                url: headerUrl,
                beforeSend: function () {
                    if (tempContactList.SourceId == null || tempContactList.SourceId == '') {
                        showGlobalNotification('error', '@ContactList.ERROR_SELECT_SOURCE');
                        return false;
                    }
                    if (tempContactList.Name == '' || tempContactList.Name == null) {
                        showGlobalNotification('error', '@ContactList.ERROR_CONTACT_LIST_NAME');
                        $('#contact_list_name', $form).focus();
                        return false;
                    }
                    if (tempContactList.Name.length < 3) {
                        showGlobalNotification('error', '@ContactList.ERROR_CONTACT_LIST_NAME_LENGTH');
                        $('#contact_list_name', $form).focus();
                        return false;
                    }
                    if (!$('.purpose-check', $form).is(':checked')) {
                        showGlobalNotification('error', 'Please choose a purpose for the contact list');
                        return false;
                    }
                    if (tempContactList.CrmObject == '' || tempContactList.CrmObject == null) {
                        showGlobalNotification('error', 'Please select a CRM Object');
                        return false;
                    }
                    $('#loader').show();
                },
                success: function (response) {
                    console.log('headers', response);
                    var selectElements = $('.filter-condition-attribute', $form);
                    $(selectElements).html('');
                    $(selectElements).append('<option value="">Select</option>');
                    $('#contact_list_sort_by').html('');
                    $('#contact_list_sort_by').append('<option>Select</option>');
                    $.each(response, function (index, header) {
                        $(selectElements).append('<option value="' + header.Value + '">' + header.Key + '</option>');
                        $('#contact_list_sort_by', $form).append('<option value="' + header.Value + '">' + header.Key + '</option>');
                    });
                    if (tempContactList.Id) {
                        $(selectElements).each(function () {
                            $(this).val($(this).attr('data-selected-attribute'));
                        });
                        $('#contact_list_sort_by',$form).val($('#contact_list_sort_by').attr('data-selected-field'));
                    }
                    $('#step_one', $form).addClass('hidden');
                    $('#step_two', $form).removeClass('hidden');
                    $('#btn_prev', $form).removeClass('hidden');
                    $('#btn_save', $form).removeClass('hidden');
                    $button.addClass('hidden');
                    $('#loader').hide();

                },
                type: 'POST',
                dataType: 'json',
                contentType: 'application/json',
                error: globalAjaxErrorHandler,
                data: JSON.stringify(tempContactList)
            });

        });
        $(document).on('click', '#btn_prev', function (e) {
            $('#step_one', $form).removeClass('hidden');
            $('#step_two', $form).addClass('hidden');
            $('#btn_next', $form).removeClass('hidden');
            $('#btn_save', $form).addClass('hidden');
            $(this).addClass('hidden');
        });
        $form.on('submit', function (e) {
            e.preventDefault();
            var url = $(this).attr('action');
            var filterCollection = [];
            var filters = $('.unicampaign-filter > .filter-collection > .filter-expression', $form);
            for (var i = 0; i < filters.length; i++) {
                var theFilter = contactListUtil.parseFilter($(filters[i]));
                if (theFilter) {
                    filterCollection.push(theFilter);
                }
            }
            var theContactList = {
                Id: $('#contact_list_id', $form).val(),
                SourceId: $('#contact_list_source', $form).val(),
                Name: $('#contact_list_name', $form).val(),
                Purpose: $('#contact_list_purpose', $form).val(),
                CrmObject: $('#contact_list_crm_object', $form).val(),
                Filters: filterCollection
            };
            theContactList.SortBy = $('#contact_list_sort_by', $form).val();
            theContactList.SortDirection = $('#contact_list_sort_direction', $form).val();
            if ($('#contact_list_sort_by', $form).prop('selectedIndex') <= 0) {
                delete theContactList.SortBy;
                delete theContactList.SortDirection;
            }
            console.log(theContactList);
            $.ajax({
                url: url,
                beforeSend: function () {
                    $('#loader').show();
                },
                success: globalAjaxSuccessHandler,
                type: 'POST',
                contentType: 'application/json',
                error: globalAjaxErrorHandler,
                data: JSON.stringify(theContactList)
            });
            return false;
        });
    </script>
