@using UniCampaignE.Web.Localization
@{
    var headers = ViewBag.Headers as IEnumerable<string>;
    var filePath = ViewBag.FilePath as string;
}
<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header bg-primary-dark">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">@Holiday.HOLIDAY_COLUMN_BULKUPLOAD_TITLE</h4>
        </div>
        @using (Ajax.BeginForm(nameof(UniCampaignE.Web.Controllers.HolidayController.MapColumns), new AjaxOptions() { HttpMethod = "POST", LoadingElementId = "loader", OnSuccess = "globalAjaxSuccessHandler", OnFailure = "globalAjaxErrorHandler" }))
        {
            <div class="modal-body">
                <div class="form-horizantal" role="form">
                    @Html.Hidden("filePath", filePath)
                    <div class="form-group">
                        <label class="control-label col-xs-4">@Holiday.HOLIDAY_NAME_LABEL <span class="error inline">*</span></label>
                        <div class="col-xs-8 col-lg-7">
                            @Html.DropDownList("columnIndex", headers.Select((str, idx) => new SelectListItem() { Text = str, Value = idx.ToString() }), Comman.SELECT_LAVEL, new { @class = "form-control" })
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-xs-4">@Holiday.HOLIDAY_START_DATE_TITLE<span class="error inline">*</span></label>
                        <div class="col-xs-8 col-lg-7">
                            @Html.DropDownList("columnIndex", headers.Select((str, idx) => new SelectListItem() { Text = str, Value = idx.ToString() }), Comman.SELECT_LAVEL, new { @class = "form-control" })
                            <small class="help-block" style="color:#a94442;">Date should be of format yyyy-MM-dd</small>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-xs-4">@Holiday.HOLIDAY_END_DATE_TIME<span class="error inline">*</span></label>
                        <div class="col-xs-8 col-lg-7">
                            @Html.DropDownList("columnIndex", headers.Select((str, idx) => new SelectListItem() { Text = str, Value = idx.ToString() }), Comman.SELECT_LAVEL, new { @class = "form-control" })
                            <small class="help-block" style="color:#a94442;">Date should be of format yyyy-MM-dd</small>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-xs-4">@Holiday.HOLIDAY_DESCRIPTION_LABEL</label>
                        <div class="col-xs-8 col-lg-7">
                            @Html.DropDownList("columnIndex", headers.Select((str, idx) => new SelectListItem() { Text = str, Value = idx.ToString() }), Comman.SELECT_LAVEL, new { @class = "form-control" })
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="form-group">
                        <input type="hidden" name="firstRow" id="first_row" />
                        <label class="control-label col-xs-4">
                          @Holiday.LABEL_USE_FIRST_ROW
                        </label>
                        <div class="col-xs-8 col-lg-7">
                            <div class="checkbox c-checkbox mt-sm">
                                <label>
                                    <input type="checkbox" id="first_row_check" />
                                    <span class="fa fa-check"></span>@Holiday.LABEL_YES
                                </label>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">@Comman.CANCEL_BUTTON_TEXT</button>
                <input type="submit" class="btn btn-primary" id="saveButton" value="@Comman.SAVE_BUTTON_TEXT" />
            </div>
        }
    </div>
</div>
<script>
    $('.modal-dialog').on('change', '#first_row_check', function (e) {
        $('#first_row').val($(this).is(':checked'));
    });
</script>

